<div class="link-wrapper-mobile">
    <!-- <a href="{{ "publications" | relative_url }}">[Publications]</a> <span style="margin-left: 5px;"></span> -->
    <a href="https://github.com/andreabac3">[GitHub]</a> <span style="margin-left: 5px;"></span>
    <a href="https://www.linkedin.com/in/andreabacciu">[LinkedIn]</a> <span style="margin-left: 5px;"></span>
    <a href="https://twitter.com/andrea_bacciu">[Twitter]</a>
    <a href="https://scholar.google.com/citations?user=l_uch90AAAAJ&hl=it">[GoogleScholar]</a>
</div>